.slide-box {
    margin: 50px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-radius: 20px;
    overflow: hidden;
    transform: rotate(45deg);
}

.slide-box img {
    flex-shrink: 0;
    margin: 0 auto;
    width: 150%;
    height: 150%;
    transform: rotate(-45deg);
}